.size(@width; @height){
  width:@width;
  height: @height;
}
.fontSize(@size){
  font-size:unit(@size,px);
  font-size:unit((@size / 10),rem);
}
.fontSize0(){
  font-size:0;
}
.blockCenter(){
  display: block !important;
  margin-left: auto !important;
  margin-right:auto !important;
}
.corner(@size){
  border-radius: @size;
}
.borderBox(){
  box-sizing: border-box;
}
