@import "../../components/var";
@import "../../components/mixin/common";

.indexDescription{
  color: @grayBase;
  .fontSize(@fontSizeBase);
  text-align: center;
  line-height: @lineHeightBase;
}
.indexStep{
    margin: 30px 0px;
}