@import "var";
@import "mixin/common";

/**
* 风格选择，一行两个
*/
.list{
   .fontSize0();
  margin: 50px 0px;

  .item{
    width: 47%;
    position: relative;

    &:first-child{
      margin-right: 6%;
    }

    .thumb{
      .size(100%;auto);
      display: block;
    }

    .info{
      position: absolute;
      bottom:0px;
      left:0px;
      .size(100%;@btnHeight);
      line-height: @btnHeight;
      .fontSize(@fontSizeBase);
      background: @blueBase;
      opacity: .6;
      color: @whiteBase;
      text-align: center;
      margin: 0px;
    }
  }

}

/**
* 系列选择，形状选择，一行三个
*/
.list1{
  .fontSize0();
  margin: 50px 0px;

  .item{
    width: 32%;
    margin-right: 2%;
    .fontSize(@fontSizeBase);
    color: @blueBase;
    vertical-align: top;

    a{
      color: @blueBase;
    }

    .thumb{
      .size(100%;auto);
      display: block;
    }

    .info{
      background: @gray;
      padding: 10px 10px 20px 10px;
    }

    .title{
      margin-bottom: 15px;
    }

    p{
      margin: 5px 0px;
    }

    &:last-child{
      margin-right: 0px;
    }
  }

  .childList{
    padding-left: 20px;

    .childItem{
      list-style: disc;
      display: list-item;
    }
  }
}
/**
* 继承list1
*/
.list101{

}
.list101 .item{
  width: 15%;
  margin-right: 2%;
}

/**
*付款方式
*/
.list2{
  text-align: center;

  .item{

    .check{
      vertical-align: middle;
    }

    .thumb{
      width: 200px;
      vertical-align: middle;
    }
  }
}