<div class="nav">
    <ul class="menu">
        <li class="item">
            <a class="link" href="http://www.siemensgabor.com/">首页</a>
        </li>
        <li class="item">
            <a class="link" href="http://www.siemensgabor.com/chugui/">整体橱柜</a>
        </li>
        <li class="item">
            <a class="link" href="http://www.siemensgabor.com/yigui/">整体衣柜</a>
        </li>
        <li class="item">
            <a class="link" href="http://www.siemensgabor.com/men/">木门</a>
        </li>
        <li class="item">
            <a class="link" href="http://www.siemensgabor.com/yuanmu/">原木馆</a>
        </li>
        <li class="item">
            <a class="link" href="http://www.siemensgabor.com/dianqi/">智能美学厨房</a>
        </li>
        <li class="item">
            <a class="link" href="http://www.siemensgabor.com/jiameng/">加盟嘉宝</a>
        </li>
        <li class="item">
            <a class="link" href="http://www.siemensgabor.com/news/">新闻中心</a>
        </li>
        <li class="item">
            <a class="link" href="http://www.siemensgabor.com/about/">关于嘉宝</a>
        </li>
    </ul>
</div>
